---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <div class="text-center w-64 mx-auto">
    <h1>Made with Astro!</h1>
    <img class="bg-black rounded-xl" src='/favicon.svg' alt="icon" />
  </div>
</Layout>
