---
import MovieSearch from "./MovieSearch.svelte";
---

<header class="border px-8 flex justify-between items-center">
  <a href="/">Movie Diary</a>

  <MovieSearch client:load />

  <nav class="flex items-center">
    <a href="/movies/301">Matrix (test)</a>
    <a href="/premieres">Premieres</a>
  </nav>
</header>

<style lang="scss">
  a {
    @apply p-4;

    &:hover {
      @apply bg-slate-50;
    }

    &:active {
      @apply bg-slate-100;
    }
  }
</style>
