---
import MovieSearch from "./MovieSearch.svelte";
---

<header class="relative border px-8 flex justify-between items-center">
  <a href="/">Movie Diary</a>

  <div class="absolute left-0 right-0 text-center">
    <MovieSearch client:load />
  </div>

  <nav class="flex items-center">
    <a href="/movies/301">Matrix (test)</a>
    <a href="/premieres">Premieres</a>
  </nav>
</header>

<style lang="scss">
  a {
    @apply p-4;

    &:hover {
      @apply bg-slate-50;
    }

    &:active {
      @apply bg-slate-100;
    }
  }
</style>
