---
import type { Movie } from "../models/movie";

export interface Props {
  movie: Movie;
}

const { movie } = Astro.props;

const name = movie.nameOriginal || movie.nameEn || movie.nameRu;
---

<div>
  <h1>
    {name}
  </h1>
  <img
    src={movie.posterUrl}
    alt={`${name} poster`}
    height="450"
    width="300"
    class="border rounded-md"
  />
  <p>{movie.description}</p>
</div>
