---
import type { Movie } from "../models/movie";

export interface Props {
  movie: Movie;
}

const { movie } = Astro.props;
---

<a
  style={`background-image: url('${movie.posterUrl}')`}
  class="block rounded-md border bg-cover aspect-[2/3]"
  href={`/movies/${movie.kinopoiskId}`}
>
</a>
