---
import { appApi } from "../lib/app-api";
import type { Movie } from "../models/movie.interface";
import MovieCard from "./MovieCard.astro";

const premieres: Movie[] = await appApi
  .get("/api/premieres")
  .then((response) => response.data);
---

<div class="grid gap-4">
  {premieres.map((movie) => <MovieCard movie={movie} />)}
</div>

<style>
  div {
    grid-template-columns: repeat(auto-fill, minmax(16rem, auto));
  }
</style>
