---
import MovieDescription from "../../components/MovieDescription.astro";
import Layout from "../../layouts/Layout.astro";
import { appApi } from "../../lib/app-api";
import type { Movie } from "../../models/movie";

const id = Astro.params.id;

const movie: Movie | undefined = await appApi
  .get(`/api/movies/${id}`)
  .then((response) => response.data)
  .catch(() => undefined);

const name = movie?.nameOriginal || movie?.nameEn || movie?.nameRu;
---

<Layout title={name || "Not found"}>
  {
    movie ? (
      <MovieDescription movie={movie} />
    ) : (
      <div>
        <h1>404. Not found</h1>
      </div>
    )
  }
</Layout>
