@font-face {
	font-family: 'Noto Serif';
	src: url('/fonts/NotoSerif-Regular.ttf');
}

:root {
	--theme-font-family-heading: 'Noto Serif', serif;
}

html,
body {
	@apply h-full overflow-hidden;
}

h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

h3 {
	font-size: 1.25rem;
	margin-bottom: 1rem;
}

a[target='_blank']:after {
	display: inline-block;
	content: '';
	-webkit-mask-size: contain;
	mask-size: contain;
	background-color: currentColor;
	-webkit-mask: url(https://assets.website-files.com/608fb40c3d9b077577fce197/60dd69136bc238e82174de73_external-link.svg)
		no-repeat 50% 50%;
	mask: url(https://assets.website-files.com/608fb40c3d9b077577fce197/60dd69136bc238e82174de73_external-link.svg)
		no-repeat 50% 50%;
	margin: -0.3em -0.2em -0.25em 0.05em;
	width: 1.1em;
	height: 1.1em;
}
