h1 {
	font-size: 2rem;
	margin-bottom: 1rem;
	text-align: center;
}

h2 {
	font-size: 1.5rem;
	margin-bottom: 1rem;
	/* text-align: center; */
}

h3 {
	font-size: 1.25rem;
	margin-bottom: 1rem;
}

.input {
	@apply p-2;
}

.select {
	@apply rounded-token;
}
